{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}
{%block stylesheets %}<link rel="stylesheet" type="text/css" href="{{ asset('css/home.css') }}">{% endblock %}

{% block body %}
    <h1>Liste des sorties</h1>

    <table>
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Cloture</th>
                <th>inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
{% endblock %}
