<navbar>
    <div class="menu">
        <a href="{{ path('app_panneau_controle') }}">Panneau de contrôle</a>
        <a href="{{ path('app_home') }}">Accueil</a>
        <a href="{{ path('app_profil') }}">Mon Profil</a>
        <a href="{{ path('app_logout') }}">Se déconnecter</a>
    </div>
</navbar>